/* Mobile devices */

@media only screen and (max-width: 360px) {
    .navbar-nav, .nav-link, .dropdown-item {
        display: block;
        width: 100%;
        text-align: center;
    }
}

html, body {
    min-height: 100%;
    overflow-x: hidden;
}

/* Admin tools column (left) */

#admintools {
    background-color: #B3D7F3;
    padding: 0;
}

/* Profile pic */

.profile-pic {
    padding-top: 50px;
    padding-bottom: 20px;
}

#profile-image {
    display: block;
    border-color: #00b0f0;
    border-style: solid;
    box-shadow: -6px 8px 19px -9px rgba(0,0,0,0.54);
    margin: auto;
}

#username {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 2.2vh;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}

#joineddate {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 1.9vh;
    font-weight: bold;
    color: #00b0f0;
    text-align: center;
}

/* Admin tools navbar */

.navbar-nav {
    margin: auto;
}

.nav-link, .dropdown-toggle {
    font-family: "Anton", "sans-serif";
    font-size: 3.5vh;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    color: #FFFFFF;
}

.nav-link:hover, .dropdown-toggle:hover, .dropdown-item:hover {
    color: #00b0f0;
}

.dropdown-toggle {
    text-decoration: none;
}

.dropdown-menu, .dropdown-item:hover {
    background-color: #B3D7F3;
    border-style: none;
}

.dropdown-item {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 2.5vh;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    color: #FFFFFF;
}

#col2 {
    background-color: #FFFFFF;
}

#col3 {
    background-color: #B3D7F3;
}