/* Mobile devices */

@media only screen and (max-width: 360px) {

    .btn-basic {
        display: block;
        margin: 12px auto auto auto;
        width: 100%;
    }
}

/* index.view CSS */

html, body {
    min-height: 100%;
}

#frontpageh1 {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 3vh; /* vh -> viewport height */
    text-align: center;
    margin-top: 50px;
}

.btn-group-lg {
    margin: 30px auto;
}

.btn-basic {
    font-family: "Anton", "sans-serif";
    font-size: 2vh;
    color: #FFFFFF;
    background-color: #00B0F0;
}