.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
}

.infoText {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}
table {
  display:inline-table;
}
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
.skillarea {
  display: inline-block;
  background-color: aqua;
  border: 1px solid black;

}
.skill {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: aqua;
  border: 1px solid black;
}
.country {
  display: inline-block;
  width: 33.33%;
  padding: 10px;
  height: 300px; 

}

.linkArea {
  display: inline-block;
  background-color: aqua;
  border: 1px solid black;
}
.link {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: aqua;
  border: 1px solid black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
