  body {
    font-size: 20px;
    font-family: "Lucida Console";
    margin: 0;
  }
  
  .header {
  padding: 0px;
  text-align: center;
  position: sticky;
  background: white;
}
.vasen {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 60px;
  color: white;
  font-family: 'Saira Condensed', sans-serif;
}
  
 .navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 10000;
  }
.login {
  float: right;
}
 

  li {
    float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 5px solid rgb(146, 153, 153);
  }
  
  li a:hover {
    background-color: gray;
  }
  
  .active {
    background-color: crimson;
  }
.loginarea {
    display: block;
    text-align: center;
    padding: 300px;
    font-family: "Lucida Console";

 
    
  }
.loginbutton {
    background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
  }
  .cancelbutton {
    padding: 10px 18px;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
  }
.backgroundimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
} 

.signuparea {
  display: block;
  text-align: center;
  padding: 300px;
  font-family: "Lucida Console";

}
.signupbutton {
  background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}
